# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# by running npx auth secret, do not copy my secret, this is just an example
AUTH_SECRET="Your next-auth secret"


#Use maybe localhost if you are on local, change the path to the path u registered on google dashboard if you are on production
AUTH_GOOGLE_ID= "Your google ID"
AUTH_GOOGLE_SECRET= "Your google secret"